.update-dialog {
  &__title {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 20px;

    mat-label {
      color: black;
    }
  }

  &__actions {
    align-self: end;

    &-button + &-button {
      margin-left: 16px;
    }
  }
}
